/Binaries/
/DerivedDataCache/
/Intermediate/
/Saved/

# IDE ????
*.sln
*.user
.vs/
.idea/
.vsconfig

# UE ????????????????
Content/__ExternalActors__/ThirdPerson/
Content/__ExternalObjects__/
Content/Developers/

# UE ?????????????????????
Content/Characters/
Content/LevelPrototyping/
Content/ThirdPerson/
